# Copyright (c) 2019 VMware, Inc. All Rights Reserved.
# SPDX-License-Identifier: BSD-2 License
# The full license information can be found in LICENSE.txt
# in the root directory of this project.

# axon - Axon daemon
#
[Unit]
Description=Axon Traffic Generation Service Daemon

[Service]
Type=idle
Environment="PYTHONPATH=$PYTHONPATH:/opt/"
ExecStart=/usr/bin/python3 -maxon.controller.axon_rpyc_controller
StandardOutput=journal+console
EnvironmentFile=/etc/axon/axon.conf

[Install]
WantedBy=multi-user.target
