# Copyright (c) 2019 VMware, Inc. All Rights Reserved.
# SPDX-License-Identifier: BSD-2 License
# The full license information can be found in LICENSE.txt
# in the root directory of this project.

# Lydian - Lydian  daemon
#
[Unit]
Description=Lydian Daemon

[Service]
Type=idle
Environment="PYTHONPATH=lydian.egg"
WorkingDirectory=/root
ExecStart=%s -mlydian.controller.rpyc_controller
StandardOutput=journal+console
EnvironmentFile=/etc/lydian/lydian.conf

[Install]
WantedBy=multi-user.target
