# Copyright (C) 2020 VMware, Inc. All rights reserved.
rpyc==4.0.2
sql30>=0.2.2
paramiko>=1.17.0
# Enable following requirements if needed.
# wavefront-sdk-python>=1.1.1
# wavefront-api-client==2.33.15
# psutil>=5.6.6
